[submodule "cmake/cmake-modules"]
	path = cmake/cmake-modules
	url = https://github.com/bilke/cmake-modules
[submodule "docs"]
	path = docs
	url = https://github.com/Matthieu-Beauchamp/CppReadTheDocs
